.radio {

    $parent: &;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    &__input {
      display: none;
      &:checked {
        + #{$parent} {
          &__label {
          border-bottom: 1px solid $color-black;
          }
        }
      }
    }

    &__label {
      cursor: pointer;
      position: relative;
    margin:0 8px;
      border-bottom: 1px solid transparent;


    }

    &__item {
    }
  }
