$color-yellow: #f4e041;
$color-dark-yellow: #ffe302;
$color-black: rgba(0, 0, 0, 0.87);
$color-white: #fff;
$color-light-gray: #e5e5e5;
$color-light-gray1: #f8f8f8;
$color-light-gray2: #7e7e7e;
$color-dark: #d0cfcf;
$color-blue: #00bdd3;

$color-error: #cb3d40;

$font-size-small: 12px;
$font-size-default: 16px;
$font-size-title: 40px;

$line-height-regular: 26px;
$line-height-small: 14px;
